# Mac OS files
.DS_Store
.AppleDouble
.LSOverride

# Python/FastAPI environment
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
.env
backend/app/db.sqlite
*.db
*.sqlite

# Flutter / Dart build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.pydevproject
.metadata
.project
.settings/
.vscode/

# Logs
logs/
*.log
